name: CI - Docker Build & Deploy

on:
  push:
    branches: [dev, prod, gcp, master]
  pull_request:
    branches: [main, dev]
  workflow_dispatch:

jobs:
  ci-cd:
    uses: OrcheSignt/orchsight-devops-cloud-platform/.github/workflows/_reusable-ci-cd.yml@main
    with:
      release_name: os-openclaw
    secrets: inherit
